<div class="col-lg-12">
    <h3 class="mb-4 mt-4">Upcoming Workshops</h3>
        <div class="row">
         <%= render "upcoming_workshop" %>
        <div>
     <hr>
    <h3 class="mb-4 mt-4">Past Workshops</h3>
        <div class="row">
            <%= render "past_workshop" %>
        <div>
</div>